![alt text](https://drive.google.com/uc?id=1oZeOBAOozxedBi-jq-LzN8BQd0NB7Ocy
)

Assalamualaikum warahmatullahi wabarakatuh.

***Robbi Zidni Ilma Warzuqni Fahma***

Semoga Allah memberi kemudahan untuk kita memperoleh ilmu yang bermanfaat.

Ini adalah notebook yang disusun untuk **Kelas Dasar Pejuang Data Sains 2.0** .

Ini adalah **Notebook Variabel & Tipe Data**:

## **Hasil Yang Ingin Dicapai**
1. Memahami input dan output pada python
2. Mengenal dan memahami variabel dan tipe data pada python
3. Mengenal dan memahami struktur data pada python

### ***!!!***

***Sebelum memulai mempelajari notebook ini, jangan lupa untuk menyalinnya di drive masing-masing ya.***

### ***!!!***

##  **Input & Output pada Pyhton**

Kita akan memulai dengan mencoba mengenal dan memahami proses input dan output pada bahasa pemrograman python. Sebuah Program terdiri dari Input, Proses dan Output

**Membuat input dengan fungsi input()**

format input() :
input(*object, nilai)

Sebuah input dapat dikelola berdasarkan tipe datanya :

* input() : nilai berupa string

* str(input()) : nilai berupa string

* int(input()) : nilai berupa integer

* float(input()) : nilai berupa float

* bool(input()) : nilai berupa boolean

**Untuk menampilkan Output dengan fungsi print()**

format print() :
print(*object, sep=' ', end='\n', file=sys.stdout, flush=False/True)

In [1]:
# Membuat input bertipe data string (str)
nama = input("Nama : ")
umur = input("Umur : ")
alamat = input("Alamat : ")

Nama : Alfiyyah
Umur : 20
Alamat : Gunungkidul

In [2]:
print(nama)
print(umur)
type(nama)

Alfiyyah
20

str

In [3]:
# Membuat input bertipe data integer (int)
angka1 = int(input())
print(angka1)

2
2

In [4]:
# Membuat input beripe data float
angka2 = float(input())
print(angka2)

4
4.0

Saatnya kamu mencoba!!!

**Menampilkan Output cara pertama**

In [5]:
print("Nama saya"+" "+ nama + " " + "yang berumur"+ " " + umur + " " + "dan bertempat tinggal di"+ " " + alamat)

Nama saya Alfiyyah yang berumur 20 dan bertempat tinggal di Gunungkidul

Saatnya kamu mencoba!!!

In [6]:
print(' nama saya'+" " +'universitas'+ " " +' kota')

 nama saya universitas  kota

**Menampilkan Output cara kedua**

Menggunakan fungsi format()

In [8]:
txt1 = "Nama saya {nama}, Saya berumur {umur}".format(nama = "Alfiyyah", umur = 20)
txt1

'Nama saya Alfiyyah, Saya berumur 20'

In [9]:
txt2 = "Nama saya {0}, Saya berumur {1}".format("Alfiyyah",20)
txt2

'Nama saya Alfiyyah, Saya berumur 20'

In [11]:
txt3 = "Nama saya {}, Saya berumur {}".format("Alfiyyah",20)
txt3

'Nama saya Alfiyyah, Saya berumur 20'

Saatnya kamu mencoba!!!

**Menampilkan Output cara ketiga**

Menggunakan simbol %

* %c : mencetak karakter

* %s : mencetak data menjadi string

* %i, %d : mencetak angka desimal bertanda
* %u : mencetak angka desimal tak bertanda
* %x, %X : mencetak angka heksa dengan huruf kecil %x atau besar %X
* %f : mencetak angka real berkoma
* %e, %E : mencetak tanda eksponensial dengan huruf kecil %e atau besar %E
* %g, %G : fungsi hampir sama dengan %f dan %e hanya saja pencetakan angak di belakang koma lebih pendek

In [12]:
print("Nama saya %s yang berumur %s dan bertempat tinggal di %s" %(nama, umur, alamat))

Nama saya Alfiyyah yang berumur 20 dan bertempat tinggal di Gunungkidul

Saatnya kamu mencoba!!!

## **Variabel, Tipe Data, Dan Konversinya**

Selanjutnya kita akan mengenal variabel dan tipe data pada python. Ini merupakan dasar yang harus dipahami di awal sebelum melanjutkan ke materi berikutnya. Pertama kita akan memahami bagaimana sebuah variabel dituliskan dalam python.

### Variabel

*   Variabel merupakan tempat penyimpanan data atau nilai
*   Sebuah variabel dalam python bisa diisi dengan berbagai tipe data
*   Nama sebuah variabel tidak bisa diawali dengan angka/numerik
*   Nama sebuah variabel selain keyword dari bahasa python
*   Format variabel : Nama_variabel = data/nilai

**Membuat sebuah variabel dengan berbagai tipe data Python**

In [13]:
var1 = 'Assalamualaikum Dunia!' #String
var2 = 1234567890 # int
var3 = 0.123456789 # float
var4 = False #bool
var5 = 1j+1 #complex

Buat variabelmu sendiri di bawah ini ya!

In [14]:
var7=' Dari Pejuang Data mejadi Data Sains muda'
print(var7)

 Dari Pejuang Data mejadi Data Sains muda

**Memanggil variabel dan menampilkan**

Kamu dapat memanggil variabel hanya dengan menuliskan variabel yang sudah kamu buat di atas dan menjalankan cellnya

In [15]:
var1

'Assalamualaikum Dunia!'

Saatnya kamu mencoba!!!

In [16]:
var7

' Dari Pejuang Data mejadi Data Sains muda'

Selain itu, kamu juga bisa mencetak, atau menampilkan variabel yang sudah kamu buat dengan cara memasukkan syntak **print(*variable*)**. Contohnya sebagai berikut:

In [ ]:
print(var1) #tipe data string
print(var2) #tipe data integer
print(var3) #tipe data float
print(var4) #tipe data boolean
print(var5) #tipe data Complex

Assalamualaikum Dunia!
1234567890
0.123456789
False
(1+1j)

Sekarang, tampilkan variabelmu sendiri:

In [ ]:
#Mencetak variabel punya kamuuch
#String

#Int

#Float

#Boolean

#Complex

Note: Tanda Pagar (#) berfungsi sebagai komentar, tidak dijalankan sebagai perintah pemrograman

### Tipe Data

Tipe data adalah kumpulan tipe yang dapat kamu temukan di semua data. Dengan memahami tipe data, kamu dapat menentukan nilai data yang dimiliki dari data tersebut.


**Mengenal Beberapa Tipe Data Pada Python:**
1.   String
2.   Number (Integer, Float, Complex, Boolean)

**Melihat Tipe Data dari Suatu Variabel**

Kamu bisa melihat tipe variabel yang sudah kamu buat,apakah tipe data kamu adalah int, float, boolean, string, dll menggunakan fungsi **type(*variabel*)**, sebagai berikut:

In [17]:
type(var7)

str

Sekarang coba kamu cek tipe variabel yang udah kamu buat!!!

In [ ]:
#Mengecek tipe variabel
#String

#Int

#Float

#Boolean

#Complex

Kok yang tampil cuma yang terakhir!!!, ya emang begitu, python hanya akan ngejalanin line terakhir untuk ditampilin, biar tampil semua maka kita print aja seperti di bawah ini:

In [ ]:
print(var1,'Tipe data var1:', type(var1))
print(var2,'Tipe data var2:', type(var2))
print(var3,'Tipe data var3:', type(var3))
print(var4,'Tipe data var4:', type(var4))
print(var5,'Tipe data var5:', type(var5))

Assalamualaikum Dunia! Tipe data var1: <class 'str'>
1234567890 Tipe data var2: <class 'int'>
0.123456789 Tipe data var3: <class 'float'>
False Tipe data var4: <class 'bool'>
(1+1j) Tipe data var5: <class 'complex'>

### Konversi Tipe Data

Capek gag sih, bikin data baru mulu untuk sebuah tipe data yang berbeda. Kalo capek ya udah, rehat dulu. Nah ada cara lain sih, yaitu dengan mengubah tipe data yang udah kita miliki menjadi tipe data yang kita inginkan. Kadang gag harus ganti kan, cukup komit untuk merubah hal-hal yang sudah ada sesuai keinginan kita. OK Lanjuut.

Intinya mah misal kita punya variabel tipenya int tapi kita butuh variabel itu jadi float ya kita bisa konversi, gimana caranya?

Pake fungsi donk, fungsinya macem-macem, tapi intinya adalah fungsinya bernama tipe data baru yang ingin kita buat kemudian inputnya adalah tipe data yang mau kita ubah. Begono.

Bingung?
Ini lho macam-macam fungsinya:

Fungsi untuk mengubah/konversi tipe data:

a. int() : untuk mengubah menjadi integer

b. float() : untuk mengubah menjadi float

c. str() : untuk mengubah menjadi string

d. bool() : untuk mengubah menjadi boolean

e. long() : untuk mengubah menjadi integer panjang

f. chr() : untuk mengubah menjadi karakter

g. bin() : untuk mengubah menjadi bilangan biner

h. hex() : untuk mengubah menjadi bilangan Heksadesimal

i. oct() : untuk mengubah menjadi bilangan okta

Contohnya ini ya:

In [18]:
number = 20
print("data =", number, ", type =", type(number))

data = 20 , type = <class 'int'>

In [19]:
# Mengkonversi tipe data integer
kon_float = float(number)
kon_str = str(number)
kon_bool = bool(number) #False jika integer = 0, lainnya True (perhatikan hasilnya)

# Melihat data yang telah dikonversi
print("data = ", kon_float , ",type =", type(kon_float))
print("data = ", kon_str , ",type =", type(kon_str))
print("data = ", kon_bool , ",type =", type(kon_bool))

data =  20.0 ,type = <class 'float'>
data =  20 ,type = <class 'str'>
data =  True ,type = <class 'bool'>

Saatnya kamu mencoba!!!

## **Berbagai Struktur Data di Python**

### **List**

List adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variabel yang sering digunakan pada Python. Serupa, namun tak sama dengan array pada bahasa pemrograman lainnya. Bedanya, elemen List pada Python tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma.

*Setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0.*

In [ ]:
a = [1, 2.2, 'python']
a

[1, 2.2, 'python']

Bikin versimu sendiri donk, jangan baca doank! heheheh

In [20]:
p = [7, 5.5, 'saintis']
p

[7, 5.5, 'saintis']

Python mengenal slicing operator [ ] yang dapat melakukan ekstraksi sebuah item atau beberapa item yang berada dalam range tertentu pada tipe data urutan (sequences), misalnya list, string dan tuple. Beberapa tipe urutan juga mendukung "extended slicing" dengan parameter ketiga berupa "step".

* x[0] artinya mengambil elemen paling awal, dengan  index 0 dari List x.

* x[5] artinya mengambil elemen dengan index 5 dari List x.

* x[-1] artinya mengambil elemen dengan index paling belakang ke-1 dari List x.

* x[3:5] artinya membuat list dari anggota elemen List x dengan index 3 hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 3-4).

* x[:5] artinya membuat list dari anggota elemen List x paling awal hingga sebelum index 5 (tidak termasuk elemen dengan index 5, dalam hal ini hanya index 0-4).

* x[-3:] artinya membuat list dari anggota elemen List x mulai index ke-3 dari belakang hingga paling belakang.

* x[1:7:2] artinya membuat list dari anggota elemen List x dengan index 1 hingga sebelum index 7, dengan "step" 2 (dalam hal ini hanya index 1, 3, 5).

In [ ]:
x = [5,10,15,20,25,30,35,40]
print(x[5])
print(x[-1])
print(x[3:5])
print(x[:5])
print(x[-3:])
print(x[1:7:2])

30
40
[20, 25]
[5, 10, 15, 20, 25]
[30, 35, 40]
[10, 20, 30]

Cobain ya!

In [21]:

x = [2,4,6,10,12,14,16,18]
print(x[2])
print(x[-2])
print(x[1:3])
print(x[:7])
print(x[-2:])
print(x[1:5:2])

6
16
[4, 6]
[2, 4, 6, 10, 12, 14, 16]
[16, 18]
[4, 10]

Elemen pada list dapat diubah atau ditambahkan. Misalnya untuk melakukan perubahan kemudian penambahan:

In [ ]:
#Mengganti elemen
x = [1,2,3]
x[2]=4
print (x)

[1, 2, 4]

In [ ]:
#Menambah elemen
x = [1,2,3]
x[2]=4
x.append(5) #append artinya menambah
print(x)

[1, 2, 4, 5]

Saatnya kamu mencoba!

In [22]:
#Mengganti elemen
m = [6,7,8]
m[2]= 9
print (m)

[6, 7, 9]

In [24]:
#Menambah elemen
m = [6,7,8]
m[2]= 9
m.append(10) #append artinya menambah
print(m)

[6, 7, 9, 10]

Untuk menghapus item pada list, gunakan fungsi del. *Ingat bahwa Indeks Python dimulai dari 0*:

In [ ]:
binatang = ['kucing', 'rusa', 'badak', 'gajah']
del binatang[2]
print(binatang)

['kucing', 'rusa', 'gajah']

Do it by yourself

In [26]:
zodiak = ['libra', 'scorpio', 'sagitarus', 'gemini']
del zodiak[3]
print(zodiak)

['libra', 'scorpio', 'sagitarus']

Coba tambahkan kembali:

In [ ]:
del binatang [2]
print(binatang)

['kucing', 'rusa']

Cobain yaa!

In [27]:
del zodiak[0]
print(zodiak)

['scorpio', 'sagitarus']

Slicing pada String

Karena string mirip dengan list, maka slicing operator [ ]  juga dapat digunakan pada string untuk mengambil isinya atau bahkan substring. Sebuah string utuh bersifat mutable (bisa diubah), namun elemennya bersifat immutable (tidak bisa diubah).

In [ ]:
s = "Assalamualaikum Dunia!"
print(s[4]) 		#ambil karakter kelima dari string s
print(s[6:11]) 		#ambil karakter ketujuh hingga sebelas dari string s
s = "Halo Dunia!"	#ubah isi string s menjadi "Halo Dunia!", seharusnya berhasil karena mutable
print (s)

l
muala
Halo Dunia!

In [ ]:
s[5]="d"        #ubah karakter keenam dari string s menjadi "d", seharusnya gagal karena immutable

TypeError: ignored

Cobain yaa!

In [28]:
k = "Big Data Saintis muda!"
print(k[6]) 		#ambil karakter ketujuh dari string k
print(k[0:5]) 		#ambil karakter kesatu hingga keenam dari string k
k = "Pejuang Data!"	#ubah isi string k menjadi "Pejuang Data!", seharusnya berhasil karena mutable
print (k)

t
Big D
Pejuang Data!

### **Tuple**

Tuple adalah jenis dari list yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis, dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
t = (5,'program', 1+3j)
t

(5, 'program', (1+3j))

Seperti list, kita dapat melakukan slicing, namun pada tuple kita tidak dapat melakukan perubahan:

In [ ]:
t = (5,'program', 1+3j)
print(t[1])
print(t[0:3])

program
(5, 'program', (1+3j))

In [ ]:
print(t[0]=10) #Kok gagal, kenapa hayoooooo

SyntaxError: ignored

In [ ]:
a = (5, 6, 7,'aku')#bikin sendiri donk, kreatif dikit napa
print (a)
print(a[1])
del[]

(5, 6, 7, 'aku')
6

In [30]:
b = (8, 9, 10,'muda')#bikin sendiri ini
print (b)
print(b[3])
del[]

(8, 9, 10, 'muda')
muda

### **Set**

Set adalah kumpulan item bersifat unik dan tanpa urutan (unordered collection). Didefinisikan dengan kurawal dan elemennya dipisahkan dengan koma. Pada Set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan data duplikat.

In [ ]:
a = {1,2,2,3,3,3}
print(a)

{1, 2, 3}

Karena set bersifat unordered, maka kita tidak bisa mengambil sebagian data / elemen datanya menggunakan proses slicing.

In [ ]:
a = {1,2,3}
print(a[1])

TypeError: ignored

In [31]:
t = {5,5,5,5,5,5,5,7,7,7,7,7,7,9,9,9,9,9,}
print(t)

{9, 5, 7}

### **Dictionary**

Dictionary pada Python adalah kumpulan pasangan kunci-nilai (pair of key-value) yang bersifat tidak berurutan. Dictionary dapat digunakan untuk menyimpan data kecil hingga besar. Untuk mengakses datanya, kita harus mengetahui kuncinya (key). Pada Python, dictionary didefinisikan dengan kurawal dan tambahan definisi berikut:

1. Setiap elemen pair key-value dipisahkan dengan koma (,).
2. Key dan Value dipisahkan dengan titik dua (:).
3. Key dan Value dapat berupa tipe variabel/obyek apapun.

In [ ]:
d = {1:'value','key':2}
print(type(d))

<class 'dict'>

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

Dictionary bukan termasuk dalam implementasi urutan (sequences), sehingga tidak bisa dipanggil dengan urutan indeks. Misalnya dalam contoh berikut dicoba dengan indeks 2, tetapi menghasilkan error (KeyError) karena tidak ada kunci (key) 2:

In [ ]:
d = {1:'value','key':2}
print(type(d))
print("d[1] = ", d[1]);
print("d['key'] = ", d['key']);

<class 'dict'>
d[1] =  value
d['key'] =  2

In [ ]:
# Nyobain error
print("d[2] = ", d[2]);

KeyError: ignored

In [29]:
#bikin versimu sendiri yaaa
r = {1:'saintis','muda':2}
print(type(r))
print("r[1] = ", r[1]);
print("r['muda'] = ", r['muda']);

<class 'dict'>
r[1] =  saintis
r['muda'] =  2

### **Konversi Struktur Data**

Fungsi untuk mengubah/konversi struktur data:

a. list() : untuk mengubah menjadi list

b. tuple() : untuk mengubah menjadi tuple

c. set() : untuk mengubah menjadi set

d. dict() : untuk mengubah menjadi dictonary

Contoh:

In [ ]:
list1 = [1,2,3,4,5]
list2 = ["satu","dua","tiga","empat","lima"]
print("data = ", list1 , ",type =", type(list1))

data =  [1, 2, 3, 4, 5] ,type = <class 'list'>

In [ ]:
# Mengkonversi struktur data list
kon_tuple = tuple(list1)
kon_set = set(list1)
kon_dict = dict(zip(list2,list1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}
{'satu': 1, 'dua': 2, 'tiga': 3, 'empat': 4, 'lima': 5}

ini coba

In [32]:
data1 = [10,11,12,13,14]
data2 = ["sepuluh","sebelas","duabelas","tigabelas","empatbelas"]
print("data = ", data1 , ",type =", type(data1))

data =  [10, 11, 12, 13, 14] ,type = <class 'list'>

In [33]:
# Mengkonversi struktur data list
kon_tuple = tuple(data1)
kon_set = set(data1)
kon_dict = dict(zip(data2,data1))

# Melihat data yang telah dikonversi
print(kon_tuple)
print(kon_set)
print(kon_dict)

(10, 11, 12, 13, 14)
{10, 11, 12, 13, 14}
{'sepuluh': 10, 'sebelas': 11, 'duabelas': 12, 'tigabelas': 13, 'empatbelas': 14}

Nah sampai sini, coba kamu tulis pemahaman kamu tentang List, Tuple, Set, dan Dictionary, tulis pake bahasa kamu sendiri ya: 
List adalah data yang terurut dan biasanya menggunakan tanda[]
tuple adalah data yang terurut , elemennya tidak bisa di rubah, biasanya menggunakan tanda () dan dipisakan dengan tanda ,
Set adalah data yang tidak terurut dan biasnya menggunakan tanda {} dan dipisakan dengan ,
Dictionary adalah kumpulan kunci yang tidak berurutan, harus menghafal kuncinya jika ingin mendapatkan datanya

#**Udah Dulu Ya**

Alhamdulillah